<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >    
        <div class="panel-heading">
          <div class="span5">
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>      
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Naviera</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @cliente_navieras.each do |cliente_naviera| %>
                    <tr>        
                      <td><%= cliente_naviera.Nombre %></td>
                      <td><%= cliente_naviera.Telefono %></td>
                      <td><%= cliente_naviera.Correo %></td>
                      <td><%= Naviera.find(cliente_naviera.navieras_id).Nombre %></td>
                      <td><%= link_to 'Show', cliente_naviera %></td>
                      <td><%= link_to 'Edit', edit_cliente_naviera_path(cliente_naviera) %></td>
                      <td><%= link_to 'Destroy', cliente_naviera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
</div>