<p id="notice"><%= notice %></p>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Cliente</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                    </div>                
                      <div class=" col-md-9 col-lg-9 "> 
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Nombre:</td>
                              <td><%= @cliente_naviera.Nombre %></td>
                            </tr>
                            <tr>
                              <td>Telefono:</td>
                              <td><%= @cliente_naviera.Telefono %></td>
                            </tr>
                            <tr>
                              <td>Correo:</td>
                              <td><%= @cliente_naviera.Correo %></td>
                            </tr>
                            <tr>
                              <td>Naviera:</td>
                              <td><%= Naviera.find(@cliente_naviera.navieras_id).Nombre %></td>
                            </tr>
                          </tbody>
                        </table>
                        <a href="<%= edit_cliente_naviera_path(@cliente_naviera) %>" class="btn btn-primary">Editar</a>
                        <a href="<%= cliente_navieras_path %>" class="btn btn-primary">Atras</a>
                      </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>