<%= form_for(naviera) do |f| %>
  <% if naviera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(naviera.errors.count, "error") %> prohibited this naviera from being saved:</h2>

      <ul>
      <% naviera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :Nombre %>
  </div>

  <div class="field">
    <%= f.label :Telefono %>
    <%= f.text_field :Telefono %>
  </div>

  <div class="field">
    <%= f.label :Correo %>
    <%= f.text_field :Correo %>
  </div>

  <div class="field">
    <%= f.label :Direccion %>
    <%= f.text_field :Direccion %>
  </div>

  <div class="field">
    <%= f.label :companies_id %>
    <%= f.number_field :companies_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
