<p id="notice"><%= notice %></p>

<h1>Navieras</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Id empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @navieras.each do |naviera| %>
      <tr>
        <td><%= naviera.Id %></td>
        <td><%= naviera.Nombre %></td>
        <td><%= naviera.Telefono %></td>
        <td><%= naviera.Correo %></td>
        <td><%= naviera.Direccion %></td>
        <td><%= naviera.Id_Empresa %></td>
        <td><%= link_to 'Show', naviera %></td>
        <td><%= link_to 'Edit', edit_naviera_path(naviera) %></td>
        <td><%= link_to 'Destroy', naviera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Naviera', new_naviera_path %>
