<div class="container">
	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" > 
	    	<div class="panel panel-info">
		    <div class="panel-heading">
		       	<h3 class="panel-title">Nueva Naviera</h3>
		    </div>
	          	<div class="panel-body">
	          		<div class="row">
	          			<div class="col-md-3 col-lg-3 " align="center"></div><!--imagen-->
		          			<div class=" col-md-9 col-lg-9 ">
				    			<div class="form-area">
						        <%= form_for(@naviera, url: navieras_path) do |f| %>
						        	
						        	<% if @naviera.errors.any? %>
									   <ul>
									      <% @naviera.errors.each do |atributo, mensaje| %>
									      <li> <%= mensaje %> </li>									      
									      <% end %>
									   </ul>
									<% end %>

						        	<br style="clear:both">
						              	<div class="form-group">
							            <%= f.text_field :Nombre, class: "form-control", placeholder: "Nombre", :required => true %>
								        </div>
								        <div class="form-group">
									        <%= f.text_field :Telefono, class: "form-control", placeholder: "Telefono", :required => true %>
									    </div>
								        <div class="form-group">
								          	<%= f.text_field :Correo, class: "form-control", placeholder: "Correo", :required => true %>
								        </div>
								        <div class="form-group">
								          	<%= f.text_field :Direccion, class: "form-control", placeholder: "Direccion", :required => true %>
								        </div>
								        <div class="form-group">
								        	<%= f.collection_select(:companies_id, Company.all, :id, :Nombre, prompt: true) %>
								        </div>
							    	<%= f.submit "Submit", class: "btn btn-primary pull-right" %>
						        <% end %>
						        </div>
					        </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>