<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @naviera.Id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @naviera.Nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @naviera.Telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @naviera.Correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @naviera.Direccion %>
</p>

<p>
  <strong>Id empresa:</strong>
  <%= @naviera.Id_Empresa %>
</p>

<%= link_to 'Edit', edit_naviera_path(@naviera) %> |
<%= link_to 'Back', navieras_path %>
