<%= form_for(truck) do |f| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Placa %>
    <%= f.text_field :Placa %>
  </div>

  <div class="field">
    <%= f.label :Modelo %>
    <%= f.text_field :Modelo %>
  </div>

  <div class="field">
    <%= f.label :Marca %>
    <%= f.text_field :Marca %>
  </div>

  <div class="field">
    <%= f.label :drivers_id %>
    <%= f.number_field :drivers_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
