<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-default">
      <div class="row">
        <div class="col-md-9 cta-contents">    
          <div class="panel-heading">          
            <table class="table table-user-information">
              <thead>
                <tr>      
                  <th>Placa</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Chofer</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @trucks.each do |truck| %>
                <tr>
                  <td class="col-sm-2"><%= truck.Placa %></td>
                  <td class="col-sm-2"><%= truck.Modelo %></td>
                  <td class="col-sm-2"><%= truck.Marca %></td>
                  <td class="col-sm-2"><%= Driver.find(truck.drivers_id).Nombre %></td>
                  <td class="col-sm-1"><%= link_to 'Mostrar', truck, class: "btn btn-default btn-x" %></td>
                  <td class="col-sm-1"><%= link_to 'Editar', edit_truck_path(truck), class: "btn btn-default btn-x" %></td>
                  <td class="col-sm-1"><%= link_to 'Eliminar', truck, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-x" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>