<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @truck.Id %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @truck.Placa %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @truck.Modelo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @truck.Marca %>
</p>

<p>
  <strong>Driver id:</strong>
  <%= @truck.Driver_Id %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
