<%= form_for(plantum) do |f| %>
  <% if plantum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plantum.errors.count, "error") %> prohibited this plantum from being saved:</h2>

      <ul>
      <% plantum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Id %>
    <%= f.text_field :Id %>
  </div>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :Nombre %>
  </div>

  <div class="field">
    <%= f.label :Telefono %>
    <%= f.text_field :Telefono %>
  </div>

  <div class="field">
    <%= f.label :Correo %>
    <%= f.text_field :Correo %>
  </div>

  <div class="field">
    <%= f.label :Direccion %>
    <%= f.text_field :Direccion %>
  </div>

  <div class="field">
    <%= f.label :Id_Empresa %>
    <%= f.number_field :Id_Empresa %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
