<p id="notice"><%= notice %></p>

<h1>Plantas</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Id empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planta.each do |plantum| %>
      <tr>
        <td><%= plantum.Id %></td>
        <td><%= plantum.Nombre %></td>
        <td><%= plantum.Telefono %></td>
        <td><%= plantum.Correo %></td>
        <td><%= plantum.Direccion %></td>
        <td><%= plantum.Id_Empresa %></td>
        <td><%= link_to 'Show', plantum %></td>
        <td><%= link_to 'Edit', edit_plantum_path(plantum) %></td>
        <td><%= link_to 'Destroy', plantum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
