<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @plantum.Id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @plantum.Nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @plantum.Telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @plantum.Correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @plantum.Direccion %>
</p>

<p>
  <strong>Id empresa:</strong>
  <%= @plantum.Id_Empresa %>
</p>

<%= link_to 'Edit', edit_plantum_path(@plantum) %> |
<%= link_to 'Back', planta_path %>
