<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.Nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.Apellidos %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @user.Empresa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.Telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.Correo %>
</p>

<p>
  <strong>Nick:</strong>
  <%= @user.Nick %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
