<p id="notice"><%= notice %></p>
<br>
<div class="container">
    <div class="row">      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          	<div class="panel panel-info">
	            <div class="panel-heading">
	              <h3 class="panel-title">Compañia</h3>
	            </div>
	            <div class="panel-body">
		            <div class="row">
		                <div class="col-md-3 col-lg-3 " align="center">		                	
		                </div>                
			                <div class=" col-md-9 col-lg-9 "> 
			                  <table class="table table-user-information">
			                    <tbody>
			                      <tr>
			                        <td>Nombre:</td>
			                        <td><%= @company.Nombre %></td>
			                      </tr>                      
			                      <tr>
			                        <td>Telefono:</td>
			                        <td><%= @company.Telefono %></td>
			                      </tr>
			                      <tr>
			                        <td>Cedula:</td>
			                        <td><%= @company.Correo %></td>
			                      </tr>
			                      <tr>
			                        <td>Direccion:</td>
			                        <td><%= @company.Direccion %></td>
			                      </tr>
			                    </tbody>
			                  </table>	                  
			                  <a href="<%= edit_company_path(@company) %>" class="btn btn-primary">Editar</a>
			                  <a href="<%= companies_path %>" class="btn btn-primary">Atras</a>
			                </div>			            
		            </div>                             
		        </div>
        	</div>
    	</div>
	</div>
</div>