<%= form_for(asignation) do |f| %>
  <% if asignation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignation.errors.count, "error") %> prohibited this asignation from being saved:</h2>

      <ul>
      <% asignation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cod_Asignacion %>
    <%= f.text_field :Cod_Asignacion %>
  </div>

  <div class="field">
    <%= f.label :Num_Semana %>
    <%= f.number_field :Num_Semana %>
  </div>

  <div class="field">
    <%= f.label :Fecha_Colocacion %>
    <%= f.text_field :Fecha_Colocacion %>
  </div>

  <div class="field">
    <%= f.label :Hora_Colocacion %>
    <%= f.text_field :Hora_Colocacion %>
  </div>

  <div class="field">
    <%= f.label :Activo %>
    <%= f.check_box :Activo %>
  </div>

  <div class="field">
    <%= f.label :Cod_Empresa %>
    <%= f.number_field :Cod_Empresa %>
  </div>

  <div class="field">
    <%= f.label :Cod_Predio_Retiro %>
    <%= f.number_field :Cod_Predio_Retiro %>
  </div>

  <div class="field">
    <%= f.label :Cod_Predio_Entrega %>
    <%= f.number_field :Cod_Predio_Entrega %>
  </div>

  <div class="field">
    <%= f.label :Cod_Planta %>
    <%= f.number_field :Cod_Planta %>
  </div>

  <div class="field">
    <%= f.label :Cod_Naviera %>
    <%= f.number_field :Cod_Naviera %>
  </div>

  <div class="field">
    <%= f.label :Cod_Cliente %>
    <%= f.number_field :Cod_Cliente %>
  </div>

  <div class="field">
    <%= f.label :Cod_Ruta %>
    <%= f.number_field :Cod_Ruta %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
