<p id="notice"><%= notice %></p>

<div class="container">
  <% @asignations.each do |asignation| %>
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-info">
      <div class="row">        
        <div class="col-md-9 cta-contents">          
          <h1 class="cta-title">Asignacion # <%= asignation.Cod_Asignacion %> </h1>
          <div class="cta-desc">
            <p>Num Semana: <%= asignation.Num_Semana %> </p>
            <p>Fecha Colocacion: <%= asignation.Fecha_Colocacion %>  Hora Colocacion: <%= asignation.Hora_Colocacion%> </p>
            <p>Estado: <%= asignation.Activo %>  Empresa: <%= Company.find(asignation.companies_id).Nombre %></p>           
            <p>Predio Retiro: <%= Predio.find(asignation.predios_id).Nombre %>  Predio Entrega: <%= Predio.find(asignation.predios_id2).Nombre %></p>            
            <p>Planta: <%= Plantum.find(asignation.plantum_id).Nombre %>  Ruta: <%= Route.find(asignation.routes_id).Nombre %></p>
            <p>Naviera: <%= Naviera.find(asignation.navieras_id).Nombre %>  Cliente: <%= ClienteNaviera.find(asignation.cliente_navieras_id).Nombre %></p>            
          </div>
        </div>
        <div class="col-md-3 cta-button">
          <%=button_to "Eliminar", asignation, :method => :delete, :class => "btn btn-lg btn-block btn-default", :confirm => "You sure ?"%>
          <a href="<%= edit_asignation_path(asignation) %>" class="btn btn-lg btn-block btn-default">Editar</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>