<p id="notice"><%= notice %></p>

<p>
  <strong>Cod asignacion:</strong>
  <%= @asignation.Cod_Asignacion %>
</p>

<p>
  <strong>Num semana:</strong>
  <%= @asignation.Num_Semana %>
</p>

<p>
  <strong>Fecha colocacion:</strong>
  <%= @asignation.Fecha_Colocacion %>
</p>

<p>
  <strong>Hora colocacion:</strong>
  <%= @asignation.Hora_Colocacion %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @asignation.Activo %>
</p>

<p>
  <strong>Cod empresa:</strong>
  <%= @asignation.Cod_Empresa %>
</p>

<p>
  <strong>Cod predio retiro:</strong>
  <%= @asignation.Cod_Predio_Retiro %>
</p>

<p>
  <strong>Cod predio entrega:</strong>
  <%= @asignation.Cod_Predio_Entrega %>
</p>

<p>
  <strong>Cod planta:</strong>
  <%= @asignation.Cod_Planta %>
</p>

<p>
  <strong>Cod naviera:</strong>
  <%= @asignation.Cod_Naviera %>
</p>

<p>
  <strong>Cod cliente:</strong>
  <%= @asignation.Cod_Cliente %>
</p>

<p>
  <strong>Cod ruta:</strong>
  <%= @asignation.Cod_Ruta %>
</p>

<%= link_to 'Edit', edit_asignation_path(@asignation) %> |
<%= link_to 'Back', asignations_path %>
