<p id="notice"><%= notice %></p>

<h1>Predios</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Id empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predios.each do |predio| %>
      <tr>
        <td><%= predio.Id %></td>
        <td><%= predio.Nombre %></td>
        <td><%= predio.Telefono %></td>
        <td><%= predio.Correo %></td>
        <td><%= predio.Direccion %></td>
        <td><%= predio.Id_Empresa %></td>
        <td><%= link_to 'Show', predio %></td>
        <td><%= link_to 'Edit', edit_predio_path(predio) %></td>
        <td><%= link_to 'Destroy', predio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Predio', new_predio_path %>
