<p id="notice"><%= notice %></p>

<h1>Num Contenedors</h1>

<table>
  <thead>
    <tr>      
      <th>Sigla</th>
      <th>Numero</th>
      <th>Marchamo</th>
      <th>Temperatura</th>
      <th>Cant ejes</th>
      <th>Activo</th>
      <th>Cod asignacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @num_contenedors.each do |num_contenedor| %>
      <tr>        
        <td><%= num_contenedor.Sigla %></td>
        <td><%= num_contenedor.Numero %></td>
        <td><%= num_contenedor.Marchamo %></td>
        <td><%= num_contenedor.Temperatura %></td>
        <td><%= num_contenedor.Cant_Ejes %></td>
        <td><%= num_contenedor.Activo %></td>
        <td><%= num_contenedor.asignations_id %></td>
        <td><%= link_to 'Show', num_contenedor %></td>
        <td><%= link_to 'Edit', edit_num_contenedor_path(num_contenedor) %></td>
        <td><%= link_to 'Destroy', num_contenedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Num Contenedor', new_num_contenedor_path %>
