<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @num_contenedor.Id %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @num_contenedor.Sigla %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @num_contenedor.Numero %>
</p>

<p>
  <strong>Marchamo:</strong>
  <%= @num_contenedor.Marchamo %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @num_contenedor.Temperatura %>
</p>

<p>
  <strong>Cant ejes:</strong>
  <%= @num_contenedor.Cant_Ejes %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @num_contenedor.Activo %>
</p>

<p>
  <strong>Cod asignacion:</strong>
  <%= @num_contenedor.Cod_Asignacion %>
</p>

<%= link_to 'Edit', edit_num_contenedor_path(@num_contenedor) %> |
<%= link_to 'Back', num_contenedors_path %>
