<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-default">
      <div class="row">
        <div class="col-md-11 cta-contents">
          <div class="cta-desc">
          <table class="table table-user-information">
              <thead>
                <tr>
                  <td class="col-sm-1"><h5> Asignacion # : </h5></td>
                  <td class="col-sm-1"><h5> Semana: </h5></td>
                  <td class="col-sm-2"><h5> Fecha Colocacion: </h5></td>
                  <td class="col-sm-2"><h5> Hora Colocacion: </h5></td>
                  <td class="col-sm-2"><h5> Empresa:</h5></td>
                  <td class="col-sm-2"><h5> Contenedor: </h5></td>
                  <td class="col-sm-3"><h5> Naviera: </h5></td>
                  <td class="col-sm-3"><h5> Cliente: </h5></td>
                </tr>
              </thead>
          </table>
          <% @retiros.each do |retiro| %>
            <table class="table table-user-information">              
              <tbody>
                <tr>
                  <td class="col-sm-1">
                    <%= retiro.id %>
                  </td>                  
                  <td class="col-sm-1">
                    <%= retiro.Num_Semana %>
                  </td>
                  <td class="col-sm-2">
                    <%= retiro.fecha %>
                  </td>
                  <td class="col-sm-2">
                    <%= retiro.hora %>
                  </td>
                  <td class="col-sm-2">
                    <%= Company.find(retiro.companies_id).Nombre %>                    
                  </td>
                  <td class="col-sm-2">
                    <%= retiro.Sigla + " " + retiro.Numero %>
                  </td>
                  <td class="col-sm-2">
                    <%= Naviera.find(retiro.navieras_id).Nombre %>
                  </td>
                  <td class="col-sm-2">
                    <%= ClienteNaviera.find(retiro.cliente_navieras_id).Nombre %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
