<p id="notice"><%= notice %></p>

<div class="container">
  <% @asignations.each do |asignation| %>
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-primary">
      <div class="row">        
        <div class="col-md-9 cta-contents">
          <h1 class="cta-title">Asignacion # <%= asignation.id %> </h1>
          <div class="cta-desc">            
            <table class="table table-user-information">
              <thead>
                <tr>
                  <td><h5> Num Semana: </h5></td>
                  <td><h5> Fecha Colocacion: </h5></td>
                  <td><h5> Hora Colocacion:</h5></td>
                  <td><h5> Empresa: </h5></td>
                  <td><h5> Ruta: </h5></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-sm-2">
                    <%= asignation.Num_Semana %>
                  </td>
                  <td class="col-sm-3">
                    <%= asignation.fecha %>
                  </td>
                  <td class="col-sm-3">
                    <%= asignation.hora%>
                  </td>
                  <td class="col-sm-2">
                    <%= Company.find(asignation.companies_id).Nombre %>
                  </td>
                  <td class="col-sm-3">
                    <%= Route.find(asignation.routes_id).Nombre %>
                  </td>
                </tr>
              </tbody>
              </table>

              <table class="table table-user-information">
              <thead>
                <tr>
                  <td><h5> Predio Retiro: </h5></td>
                  <td><h5> Predio Entrega: </h5></td>
                  <td><h5> Planta: </h5></td>
                  <td><h5> Naviera:</h5></td>
                  <td><h5> Cliente: </h5></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-sm-3">
                    <%= Predio.find(asignation.predios_id).Nombre %>  
                  </td>
                  <td class="col-sm-3">
                    <%= Predio.find(asignation.predios_id2).Nombre %>
                  </td>
                  <td class="col-sm-2">
                    <%= Plantum.find(asignation.plantum_id).Nombre %>
                  </td>
                  <td class="col-sm-2">
                    <%= Naviera.find(asignation.navieras_id).Nombre %>
                  </td>
                  <td class="col-sm-3">
                    <%= ClienteNaviera.find(asignation.cliente_navieras_id).Nombre %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-2 cta-button">
          <a href="<%= "/retiro/".to_s + (asignation.id).to_s %>" class="btn btn-lg btn-block btn-default">Retiro</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
