<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @route.Id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @route.Nombre %>
</p>

<p>
  <strong>Precio empresa:</strong>
  <%= @route.Precio_Empresa %>
</p>

<p>
  <strong>Precio chofer:</strong>
  <%= @route.Precio_Chofer %>
</p>

<p>
  <strong>Id empresa:</strong>
  <%= @route.Id_Empresa %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
