<p id="notice"><%= notice %></p>    
<div class="container">
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-default">
      <div class="row">
      <div class="col-md-8 cta-contents">
          <div class="panel-heading">          
            <table class="table table-user-information">
              <thead>
                <tr>      
                  <th>Nombre</th>
                  <th>Cedula</th>
                  <th>Telefono</th>
                  <th colspan="3"></th>
                </tr>
              </thead>   
              <tbody>
                <% @drivers.each do |driver| %>
                <tr>        
                  <td class="col-sm-2"><%= driver.Nombre %></td>
                  <td class="col-sm-2"><%= driver.Cedula %></td>
                  <td class="col-sm-2"><%= driver.Telefono %></td>
                  <td><%= link_to 'Mostrar', driver, class: "btn btn-default btn-x" %></td>
                  <td><%= link_to 'Editar', edit_driver_path(driver), class: "btn btn-default btn-x" %></td>
                  <td><%= link_to "Eliminar", driver, method: :delete, data: {confirm: "Esta Seguro ?"}, class: "btn btn-default btn-x" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div> 
      </div>     
    </div>
  </div>
</div>