<!DOCTYPE html>
<html>
  <head>    
    <title>Transportes Juanva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <link rel="icon" type="image/png" href="<%= asset_path 'Trans_Juanva16x16.ico' %>" />

    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min'%>    
    <%= stylesheet_link_tag 'application', media: 'all' %> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
  
    <%= yield %>

  </body>
</html>