<!DOCTYPE html>
<html>
  <head>    
    <title>Transportes Juanva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <link rel="icon" type="image/png" href="<%= asset_path 'Trans_Juanva16x16.ico' %>" />

    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min'%>    
    <%= stylesheet_link_tag 'application', media: 'all' %> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
  
  <!-- TOP BAR -->
        <div id="main-nav" class="navbar-inverse bs-docs-nav" role="banner">
            <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
              <li><a href="/">Home</a></li>                          

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mantenimientos<span class="caret"></span></a>
                
                <ul class="dropdown-menu" role="menu">

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Camiones</a>
                     <ul class="dropdown-menu">
                      <li class="kopie"><a href="/trucks/new">Crear</a></li>
                      <li><a href="<%= trucks_path %>">Mostrar</a></li>                      
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Choferes</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/drivers/new">Crear</a></li>
                      <li><a href="<%= drivers_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Implementos</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/implements/new">Crear</a></li>
                      <li><a href="<%= implements_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="divider"></li>
                  <!--  <li class="dropdown-header">Nav header</li>  -->

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Empresas</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/companies/new">Crear</a></li>
                      <li><a href="<%= companies_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Plantas</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/planta/new">Crear</a></li>
                      <li><a href="<%= planta_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Predios</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/predios/new">Crear</a></li>
                      <li><a href="<%= predios_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Navieras</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="/navieras/new">Crear</a></li>
                      <li><a href="<%= navieras_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Clientes</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="<%= new_cliente_naviera_path %>">Crear</a></li>
                      <li><a href="<%= cliente_navieras_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                  <li class="dropdown dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">Rutas</a>
                    <ul class="dropdown-menu">
                      <li class="kopie"><a href="<%= new_route_path %>">Crear</a></li>
                      <li><a href="<%= routes_path %>">Mostrar</a></li>
                    </ul>
                  </li>

                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios<span class="caret"></span></a>                
                <ul class="dropdown-menu" role="menu">
                  <li> <a href="<%= new_user_path %>">Crear</a> </li>
                  <li> <a href="<%= users_path %>">Mostrar</a> </li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Asignaciones<span class="caret"></span></a>                
                <ul class="dropdown-menu" role="menu">
                  <li> <a href="<%= new_asignation_path %>">Crear</a> </li>
                  <li> <a href="<%= asignations_path %>">Mostrar</a> </li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Retiros<span class="caret"></span></a>                
                <ul class="dropdown-menu" role="menu">                  
                  <li> <a href="<%= ver_path %>">Mostrar</a> </li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informes<span class="caret"></span></a>                
                <ul class="dropdown-menu" role="menu">                  
                  <li> <a href="<%= view_path %>">Retiros x Semana</a> </li>
                </ul>
              </li>

              <% if current_user %>                
                <li><a <%= link_to "Log Out", logout_path %> </a></li> 
                <li><a> User: <%= current_user.Nombre %> </a></li> 
              <% else %>
                <li><a <%= link_to "Sign Up", new_user_path %> </a></li> 
                <li><a <%= link_to "Log In", login_path %> </a></li> 
              <% end %>
            </ul>
            </nav>          
        </div>

    <%= yield %>

  </body>
</html>