<%= form_for(implement) do |f| %>
  <% if implement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(implement.errors.count, "error") %> prohibited this implement from being saved:</h2>

      <ul>
      <% implement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Num_Chasis %>
    <%= f.text_field :Num_Chasis %>
  </div>

  <div class="field">
    <%= f.label :Num_Placa %>
    <%= f.text_field :Num_Placa %>
  </div>

  <div class="field">
    <%= f.label :Empresa %>
    <%= f.text_field :Empresa %>
  </div>

  <div class="field">
    <%= f.label :trucks_id %>
    <%= f.text_field :trucks_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
