<p id="notice"><%= notice %></p>

<h1>Implements</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Num chasis</th>
      <th>Num placa</th>
      <th>Empresa</th>
      <th>Id camion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @implements.each do |implement| %>
      <tr>
        <td><%= implement.Id %></td>
        <td><%= implement.Num_Chasis %></td>
        <td><%= implement.Num_Placa %></td>
        <td><%= implement.Empresa %></td>
        <td><%= implement.Id_Camion %></td>
        <td><%= link_to 'Show', implement %></td>
        <td><%= link_to 'Edit', edit_implement_path(implement) %></td>
        <td><%= link_to 'Destroy', implement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Implement', new_implement_path %>
