<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-default">
      <div class="row">
        <div class="col-md-10 cta-contents">
          <div class="panel-heading">          
            <table class="table table-user-information">
              <thead>
                <tr>      
                  <th>N° Chasis</th>
                  <th>N° Placa</th>
                  <th>Empresa</th>
                  <th>Camion</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @implements.each do |implement| %>
                <tr>
                  <td class="col-sm-2"><%= implement.Num_Chasis %></td>
                  <td class="col-sm-2"><%= implement.Num_Placa %></td>
                  <td class="col-sm-3"><%= implement.Empresa %></td>
                  <td class="col-sm-2"><%= Truck.find(implement.trucks_id).Placa %></td>
                  <td><%= link_to 'Mostrar', implement, class: "btn btn-default btn-x" %></td>
                  <td><%= link_to 'Editar', edit_implement_path(implement), class: "btn btn-default btn-x" %></td>
                  <td><%= link_to "Eliminar", implement, method: :delete, data: {confirm: "Esta Seguro ?"}, class: "btn btn-default btn-x" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>