<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @implement.Id %>
</p>

<p>
  <strong>Num chasis:</strong>
  <%= @implement.Num_Chasis %>
</p>

<p>
  <strong>Num placa:</strong>
  <%= @implement.Num_Placa %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @implement.Empresa %>
</p>

<p>
  <strong>Id camion:</strong>
  <%= @implement.Id_Camion %>
</p>

<%= link_to 'Edit', edit_implement_path(@implement) %> |
<%= link_to 'Back', implements_path %>
